In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv("Data.csv")

In [4]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')
imputer.fit(df.iloc[:,1:2].values)

x = imputer.transform(df.iloc[:,1:2].values)

In [26]:
x

array([['France', 44.0, 72000.0, 'Yes'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['France', 30.0, 54000.0, 'Yes'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 48000.0, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 27.0, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [13]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')
imputer.fit(df.iloc[:,2:3].values)

x = imputer.transform(df.iloc[:,2:3].values)

In [14]:
x

array([[72000.],
       [48000.],
       [54000.],
       [61000.],
       [48000.],
       [58000.],
       [52000.],
       [79000.],
       [83000.],
       [67000.]])

In [15]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')
imputer.fit(df.iloc[:,:1].values)

x = imputer.transform(df.iloc[:,:1].values)

In [16]:
x

array([['France'],
       ['Spain'],
       ['France'],
       ['Spain'],
       ['Germany'],
       ['France'],
       ['Spain'],
       ['France'],
       ['Germany'],
       ['France']], dtype=object)

In [17]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')
imputer.fit(df.iloc[:,3:].values)

x = imputer.transform(df.iloc[:,3:].values)

In [18]:
x

array([['Yes'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [22]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')
imputer.fit(df.values)

df = imputer.transform(df.values)

In [23]:
df

array([['France', 44.0, 72000.0, 'Yes'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['France', 30.0, 54000.0, 'Yes'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 48000.0, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 27.0, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)